name: Software Security Analysis CI

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'  # run every 6 hours
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  replace-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout teaching repo
      uses: actions/checkout@v3
      with:
        repository: 'SVF-tools/Software-Security-Analysis'
        path: 'teaching'

    - name: Checkout solutions repo
      uses: actions/checkout@v3
      with:
        repository: 'yuleisui/Software-Security-Analysis'
        path: 'solutions'
        token: ${{ secrets.TEACHING_CI }}

    - uses: actions/setup-node@v3
      with:
        node-version: 18

    # Setup for Ubuntu
    - name: ubuntu-setup
      run: |
        sudo apt-get update
        sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
        sudo apt-get update
        sudo apt-get install cmake gcc g++ nodejs doxygen graphviz lcov libncurses5-dev libtinfo6 libzstd-dev

    # Install SVF dependencies
    - name: env-setup
      run: |
        npm install svf-lib

    # set python version
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Python dependencies
      run: |
        pip install --upgrade pip
        pip install wheel pybind11 notebook nbconvert nbclient ipykernel build z3-solver
        pip install pysvf -i https://test.pypi.org/simple/

    - name: Replace assignments with solutions
      run: |
        set -e  
        # Copy Ass 1 2 3 Cpp version
        for i in {1..3}; do
          echo "Copying Assignment-$i..."
          if ! cp "solutions/Assignment-$i/CPP/Assignment_$i.cpp" "teaching/Assignment-$i/CPP/Assignment_$i.cpp"; then
            echo "Failed to copy Assignment_$i CPP"
            exit 1
          fi
        done
        # Copy Ass 1 2 3 Python Version
        for i in {1..3}; do
          echo "Copying Assignment-$i..."
          if ! cp "solutions/Assignment-$i/Python/Assignment_$i.py" "teaching/Assignment-$i/Python/Assignment_$i.py"; then
            echo "Failed to copy Assignment_$i Python"
            exit 1
          fi
        done

        
        # Copy Lab-Exercise1 2 3
        cp -r solutions/Lab-Exercise-1/CPP/GraphAlgorithm.cpp teaching/Lab-Exercise-1/CPP/GraphAlgorithm.cpp
        cp -r solutions/Lab-Exercise-2/CPP/Z3Examples.cpp teaching/Lab-Exercise-2/CPP/Z3Examples.cpp
        cp -r solutions/Lab-Exercise-2/CPP/test.cpp teaching/Lab-Exercise-2/CPP/test.cpp
        cp -r solutions/Lab-Exercise-3/CPP/AEMgr.cpp teaching/Lab-Exercise-3/CPP/AEMgr.cpp
        


    - name: Build and Test
      working-directory: teaching
      run: |
        export SVF_DIR=$(npm root)/SVF
        export LLVM_DIR=$(npm root)/llvm-18.1.0.obj
        export Z3_DIR=$(npm root)/z3.obj
        echo "SVF_DIR="$SVF_DIR
        echo "LLVM_DIR="$LLVM_DIR
        echo "Z3_DIR="$Z3_DIR
        cmake .
        make
        ctest --output-on-failure
